google-map {
  height: 1000px;
  width: 1000px;
}
img {
  height: 300px;
  width: 300px;
}
.message{
  display: inline-block;
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 2rem;
  border: solid 1px;
}
