<div class="container">
  <div class="div">Travel<img src="https://cdn.discordapp.com/attachments/705029274398228500/705207649901346876/logo-hackathon.png">Couch</div>
  <div class="bloc1"><p>Tu souhaites t'évader l'instant <br> d'une soirée depuis ton canapé ?</p></div>
  <div class="card card-5"></div>
  <div class="bloc2">
    <div class="mission">
    <p>Ta mission si tu l'acceptes, situer sur la mapMonde la localisation exacte de la photo qui te sera donnée</p>
    <p>Plus ta position sera exacte, plus tu gagneras de points!</p>
    </div>
  </div>
  <div class="bloc3"><button class="button" [routerLink]="['/map']">Nouvelle partie</button></div>
</div>



