.scoreboard {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.timer {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 28%;
  height: 200px;
}

.score {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  width: 28%;
  height: 200px;
}
