.container{
    background-image: url("src/assets/deadvlei.jpg");
    background-size: cover;
    height: 896px;
}

.button-last{
  margin-top: 30vh;
  margin-left: 45vw;
}

.score{
  color: #c7a091;
  font-size: 2vh;
  padding-left: 45%;
  padding-top: 5%;
}
